In [1]:
import pandas as pd
import textstat
from wordfreq import word_frequency
from textblob import TextBlob
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk import word_tokenize
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [2]:
essays = pd.read_csv(r"C:/Users/HP/Desktop/Projects/ML/Project_2/asap-aes/valid_set.tsv", sep = '\t',  encoding='latin-1')

In [3]:
essays

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN
...,...,...,...,...,...
4213,21933,8,Have you ever noticed that if two little kids...,24933,NaN
4214,21934,8,Laughter @CAPS1 I ...,24934,NaN
4215,21935,8,Laughter in @CAPS1 A laugh is not just an act...,24935,NaN
4216,21937,8,LAUGHTER @CAPS1 i was younger my friend live...,24937,NaN
4217,21938,8,"You know how the saying goes live, laugh, lov...",24938,NaN

In [4]:
essays.isna().sum()

essay_id                   0
essay_set                  0
essay                      0
domain1_predictionid       0
domain2_predictionid    3618
dtype: int64

In [5]:
essays.describe()

           essay_id    essay_set  domain1_predictionid  domain2_predictionid
count   4218.000000  4218.000000           4218.000000            600.000000
mean   11282.446420     4.123518          13735.433618           7178.000000
std     6173.633131     2.117188           6964.020021            346.698716
min     1788.000000     1.000000           1788.000000           6579.000000
25%     5243.250000     2.000000           7508.500000           6878.500000
50%    10995.500000     4.000000          13995.500000           7178.000000
75%    16852.750000     6.000000          19852.750000           7477.500000
max    21938.000000     8.000000          24938.000000           7777.000000

Useful Fonctions

### Functions to measure readability

In [6]:
#The Flesch Reading Ease gives a text a score between 1 and 100, with 100 being the highest readability score
f_reading_ease = lambda text:  textstat.flesch_reading_ease(text)

In [7]:
f_reading_ease("Hello Martial, how are you ?")

83.32

In [8]:
#The Gunning Fog formula generates a grade level between 0 and 20. It estimates the education level required to understand the text.
g_fog = lambda text : textstat.gunning_fog(text)

In [9]:
g_fog("Hello Dylan, how are you ?")

2.0

### Measure lexical complexity

In [10]:
# The frequencies of words in many languages
word_frequency("Data", "en")

0.000219

In [11]:
#the lexical density: Lexical density is a measure of the proportion of content words (nouns, verbs, adjectives, and adverbs)
#in a text compared to the total number of words. 
def lexical_density(text):
    blob = TextBlob(text)
    words = blob.words
    content_words = [word.lower() for word in words if word.lower() not in stopwords.words('english')]
    lexical_density = len(content_words) / len(words)
    return lexical_density

lexical_density("I am a Data engineer")

0.4

80%-100%: Extremely high density. Rare in most types of textsriting. Writing Style: Highly technical, specialized, and devoid of excess filler words.

70%-79%: High density. Typically found in academic, scientific, or technical documents.Writing Style: Academic and formal

60%-69%: Moderately high density. Often seen in specialized texts or writings that have a substantial informational content but 
may still incorporate some descriptive or explanatory phrasing.Writing Style: detailed informational content, usage of domain-specific vocabulary

50%-59%: Above average density. Seen in formal writings, such as news articles, essays, and professional reports. Writing Style: Formal and structured

40%-49%: Average density. General prose, such as fiction, general non-fiction, and some conversational content.Writing Style: Semi-formal

30%-39%: Below average density. Could be seen in more conversational or dialogue-heavy texts. Writing Style: Conversational and narrative-driven

20%-29%: Low density. Typical of casual conversations where function words (“is”, “and”, “the”, etc.) are prevalent. Writing Style: Very informal.

0%-19%: Extremely low density. Rare in written texts. Might be seen in very informal or repetitive spoken exchanges. Writing Style: Extremely informal, simplistic, or repetitive.

In [12]:
#The ratio of differents types of words (verb, adjectives, nouns)
def calculate_pos_ratios(paragraph):
    words = word_tokenize(paragraph)
    stop_words = set(stopwords.words('english'))
    words = [word.lower() for word in words if word.isalpha() and word.lower() not in stop_words]

    pos_tags = nltk.pos_tag(words)

    total_words = len(words)
    adjective_count = sum(1 for word, pos in pos_tags if pos in ['JJ'] or pos in ['JJR'] or pos in ['JJS'])
    noun_count = sum(1 for word, pos in pos_tags if pos in ['NN']  or pos in ['NNS'])
    verb_count = sum(1 for word, pos in pos_tags if pos in ['VB'] or pos in ['VBD'] or pos in ['VBG'] or pos in ['VBN'] or pos in ['VBP'] or pos in ['VBZ'])

    adjective_ratio = adjective_count / total_words if total_words > 0 else 0
    noun_ratio = noun_count / total_words if total_words > 0 else 0
    verb_ratio = verb_count / total_words if total_words > 0 else 0

    return adjective_ratio, noun_ratio, verb_ratio

In [13]:
paragraph = "Spero went to school"
adjective_ratio, noun_ratio, verb_ratio = calculate_pos_ratios(paragraph)

print(f"Adjective Ratio: {adjective_ratio:.2%}")
print(f"Noun Ratio: {noun_ratio:.2%}")
print(f"Verb Ratio: {verb_ratio:.2%}")

Adjective Ratio: 0.00%
Noun Ratio: 66.67%
Verb Ratio: 33.33%